.login-form {
  background: #f0f0f0;
  border-radius: 10px;
  padding-top: 20px;
  margin-top: 180px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.login-form form {
  text-align: left;
}
.login-form form label {
  color: #064758;
}
.login-form p {
  text-align: right;
  font-size: 15px;
}
.forgot {
  text-align: center;
  margin-top: 10px;
  color: #e6e6ff;
}
.forgot span {
  text-decoration: none;
  color: #9696ff;
}
.login-form h2 {
  text-align: center;
}
.login-form label {
  display: block;
  margin: 20px 20px 0;
}

.login-form input {
  display: block;
  margin: 5px 17px 20px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  width: 90%;
}

.login-form #reg {
  background: #969fa3;
  border-top: 2px solid #000000;
  padding-bottom: 30px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-form button {
  background: #0d718d;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #064758;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  margin:20px;
}
.login-form .login-error {
  color: red;
  display: block;
  margin: 5px 17px 20px;
  width:90%;
  border:1px solid #ff0000;
  border-radius:10px;
  padding:5px;
  margin-top:20px;
  margin-bottom:20px;
  background:#FCF6F6;
  display:none;
}
