

.forgot-form {
  border: 1px solid black;
  border-radius: 10px;
  background: #87CEEB;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 20%;
  padding: 5%;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.forgot-form .forgot-info {
  border: 1px solid black;
  border-radius: 10px;
  background: #d1d3e0;
  padding: 20px;
  font-size: 18px;
  box-shadow: 0 0 20px rgba(0,0,0.7);
}
.forgot-form input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.forgot-form h2 {
  text-align: center;
}

.forgot-form button {
  padding: 5px;
  font-size: 20px;
  background: #8800ff;
  box-shadow:0 0 20px rgba(0,0,0,0.7);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.forgot-form .info-forgot {
  display: none;
  color: #00ff00;
  text-shadow: 0 0 20px rgba(250,0,0)
}

.forgot-form .error-forgot {
  text-align: center;
  background: #ff6e6e;
  border: 1px solid red;
  display: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 0, 0);
}