 #not-offer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
 }
 .main-offer-project {
    background: linear-gradient(135deg, #A8E0B9, #7DB9B6);

 }
.header-w-animation-offer {
    width: 100%;
    background: #7DB9B6;
    box-shadow: 0 2px 5px #000;
    opacity: 0;
    height: 60px;
    transform: translateY(-60px); /* Start position */
    animation: slideDown 5s forwards; /* Animation */
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.header-w-animation-offer #image {
    width: 50px;
    height: 50px;
}
.header-w-animation-offer #image img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}
.header-w-animation-offer #info {
    display: flex;
    position: relative;
    padding: 0 10px;
    width: 100%;
}
.header-w-animation-offer #info h1 {
    max-width: 62%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-w-animation-offer #info .icon {
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0 0 5px #000;
    margin: 0 3px;
}
.header-w-animation-offer #info .ig {
    background: linear-gradient(45deg, 
        #f09433 0%, 
        #e6683c 25%, 
        #dc2743 50%, 
        #cc2366 75%, 
        #bc1888 100%);
        position: absolute;
        right: 28%;
}
.header-w-animation-offer #info .wa {
    background: #5dd45d;
    position: absolute;
    right: 14%;
}
.header-w-animation-offer #info .share {
    background: #525252;
    position: absolute;
    right: 0;
}
.shop-data-offer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    animation: slideDownShop 5s forwards; /* Animation */
}
.list-image-offer {
    width: calc(50% - 20px);
    display: inline-flex;
    overflow: hidden;
    overflow-x: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1s ease-out forwards;
    animation-delay: calc(0.2s * var(--i));
}
.list-image-offer::-webkit-scrollbar {
    display: none;
}
.list-image-offer img {
    min-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.offer-infos-ofr {
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    background: #A8E0B9;
    z-index: 10;
    width: 80%;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.display-image-offer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.display-image-offer #information {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    background: #e3fffe;
    border-radius: 7px;
    box-shadow: 0 0 3px #000;
    margin: 0;
    margin-bottom: 10px;
    color: #318a85;
}
.display-image-offer #left {
    padding: 3px;
    background: #A8E0B9;
    border-radius: 100%;
    z-index: 10;
    left: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 5px #000;
    opacity: 0.8;
}
.display-image-offer #right {
    padding: 3px;
    background: #A8E0B9;
    border-radius: 100%;
    z-index: 10;
    right: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 5px #000;
    opacity: 0.8;
}
.display-image-offer .img-length {
    z-index: 5;
    display: flex;
    position: absolute;
    bottom: 5px;
    border-radius: 15px;
    padding: 4px 7px;
    background: #8f908f;
    gap: 4px;
    box-shadow: 0 0 4px #000,
        inset 0 0 1px #f8f4f4;
}
.display-image-offer .img-length p {
    margin: 0;
    padding: 4px;
    border-radius: 100%;
    background: #525252;
}
.image-list-spec-ofr {
    overflow: hidden;
    display: flex;
}
.image-list-spec-ofr img {
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.display-size-offer, .display-color-offer {
    display: flex;
    margin: 4px 0;
    padding: 5px 0;
    max-width: 100%;
    overflow-x: auto;
    align-items: center;
}
.display-size-offer p, .display-color-offer p {
    margin: 0 7px;
    font-size: 18px;
    font-weight: 600;
}
.display-size-offer button {
    border-radius: 3px;
    border: 1px solid #A8E0B9;
    color: #fff;
    background: #525252;
    width: max-content;
    padding: 3px 5px;
    height: 22px;
    margin: 0 3px;
}
.display-color-offer button {
    border-radius: 3px;
    border: 1px solid #A8E0B9;
    width: 25px;
    padding: 3px 5px;
    height: 25px;
    margin: 0 3px;
}
.accpent-or-remove-offer {
    width: 100%;
    padding: 0 5px;
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.accpent-or-remove-offer button {
    width: 50%;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #525252;
    border-radius: 2px;
}
.slectiosn-my-offer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 30px);
    max-height: 150px;
    left: 15px;
    background: #7DB9B6;
    z-index: 19;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    animation: shockAbsorber 1s forwards;
}
.list-selection-offer {
    overflow: hidden;
    overflow-x: auto;
    display: flex;

}
.list-selection-offer::-webkit-scrollbar {
    display: none;
}
.list-selection-offer #image {
    max-width: 40%;
    flex-shrink: 0;
}
.list-selection-offer #image img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    max-height: 80px;
}
.list-selection-offer #info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    flex-grow: 1;
    overflow: hidden;
}
.list-selection-offer #info #rm {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    border-radius: 100%;
    color: #dc2743;
    opacity: 0.9;
}
.list-selection-offer #info p {
    margin: 2px 0;
}
.list-selection-offer #info b {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-selection-offer #image-more {
    max-width: 40%;
    position: relative;
    height: 80px; 
    margin-right: 10px;
    flex-shrink: 0;
}
.list-selection-offer #image-more img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    max-height: 80px;
    border: 1px solid #1db087;
}
.list-selection-offer #image-more #rm {
    position: absolute;
    right: 2px;
    top: 2px;
    background: #fff;
    border-radius: 100%;
    color: #dc2743;
    opacity: 0.8;
}
.slectiosn-my-offer #buy-now {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 800;
    border: 1px solid #000;
    text-align: center;
    margin-top: 10px;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownShop {
    80% {
        margin-top: -60px; /* Start slightly above */
    }
    100% {
        margin-top: 0
    }
}
@keyframes slideDown {
    80% {
        opacity: 0; /* Start invisible */
        transform: translateY(-60px); /* Start slightly above */
    }
    100% {
        opacity: 1; /* End fully visible */
        transform: translateY(0); /* End at normal position */
    }
}
@keyframes shockAbsorber {
    0% {
        bottom: 0; /* Starting at bottom 10px */
    }
    95% {
        bottom: 15px; /* Quick upward motion to overshoot */
    }
    100% {
        bottom: 10px; /* Finally settles at bottom 15px */
    }
}
