body {
  background: #fff;
}
.loading-home {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-homepage {
  background: #fff;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
 }
.home-cart {
  background: #fff;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: none;
  overflow: hidden;
}
.home-notification {
  background: #fff;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  margin-bottom: 60px;
  display: none;
}
.home-profile {
  background: #fff;
  width: 100%;
  margin-bottom: 60px;
  display: none;
  overflow: hidden;
}
.head-home {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: #292929;
  height: 60px;
  align-items: center;
  box-shadow: 0 0 20px rgb(255, 250, 240,0.7);
  z-index: 10;
}

.home-logo {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 15px;
}

.home-top-admin h2 {
  position: relative;
  top: 5px;
  margin-left: 10px;
  color: #dedbd5;
}

.home-top-admin p {
  position: relative;
  bottom: 17px;
  margin-left: 10px;
  font-size: 12px;
  width: calc(100% - 55px);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
.show-user-info-home {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  color: #fff;
}
.loading-main-homepage {
   display: none;
}
.home-search {
  position: relative;
}
.home-search input {
  height: 35px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 5% 10px 5%;
  background: white;
  position: relative;
  width: calc(90%-7px);
  padding-left: 7px;
}
.home-search input::placeholder {
  color: #5454ff;
}
.home-search #search {
  position: absolute;
  right: 8%;
  transform: translateY(-50%);
  top: 50%;
  width: 25px;
  height: 25px;
}
.discount-msg {
  margin: 5px 15px 10px 15px;
}
.discount-msg #location {
  position: relative;
  color: #5454ff;
  bottom: -2px;
}
.users-attract {
  height: 50px;
  width: 100%;
  background: #5454ff;
  display: inline-flex;
}
.users-attract .secure-ua, .delivery-ua, .price-ua, .support-ua, .exchange-ua {
  display: inline-grid;
  align-items: center;
  margin: 5px;
  justify-content: center;
}
.users-attract .secure-ua, .delivery-ua, .price-ua, .support-ua, .exchange-ua, .icon-ua {
  width: 20px;
  height: 20px;
  margin: 2px auto;
}
.users-attract p {
  display: flex;
  font-size: 8px;
  margin: 0;
  text-align: center;
  color: #fff;
}
.top-offers-home {
  width: 100%;
  height: 100px;
  display: none;
  position: relative;
  background: #5454ff;
  margin: 15px 0 15px 0;
  border: 1px solid #5e5e5e;
  box-shadow: 0 0 20px rgb(0, 0, 77,0.7);
  align-items: center;
}
.top-offers-home:hover {
  background: #00004d;
}
.top-offers-home img {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  border: 1px solid #fff;
  border-radius: 7px;
  margin: 0 10px 0 10px;
}
.top-offers-home #infos {
  display: inline-grid;
  padding: 5px;
  height: 80px;
  width: 100%;
  background: #9696ff;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-right: 10px;
}
.top-offers-home p {
  margin: 0;
  font-size: 15px;
}
.top-offers-home #title {
  color: gree;
  font-weight: 600;
}
.top-offers-home #desc {
  font-weight: 300;
  font-size: 10px;
}
.top-offers-home #price {
  background: #3b8f3b;
  border-radius: 7px;
  width: max-content;
  padding: 2px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}
.top-offers-home #time {
  margin-top: 2px;
  font-size: 10px;
  font-weight: 500;
  width: max-content;
  background: red;
  border-radius: 7px;
  padding: 2px;
  text-align: center;
}
.catogery-div {
  text-align: left;
  color: #5454ff;
  margin: 10px 0 10px 25px;
}
.three-div-one, .three-div-two, .three-div-three {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width: calc(100%-10px);
  height: 240px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.prodcts-list-home {
  border-radius: 10px;
  height: 220px;
  min-width: 150px;
  max-width: 150px;
  margin: 0 5px 0 5px;
  padding: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-loading-product {
  width: 140px;
  height: 140px;
}
.product-onclick-hm {
  display: none;
}
.product-info-home img {
  max-width: 140px;
  max-height: 140px;
  object-fit: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 10px;
}
.product-info-home #name {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 0 4px;
  color: #5f5fe8;
}
.product-info-home #price {
  font-size: 10px;
  font-weight: 10px;
  margin: 2px 0 2px 4px;
  color: #000000;
}
.product-info-home #desc {
  font-size: 15px;
  font-weight: 15px;
  margin: 2px 0 0 4px;
  color: #4a4a4a;
  font-weight: 200;
  width: max-content;
}
.two-raw-ca-h-one, .two-raw-ca-h-two {
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 100%;
  display: flex;
  padding: 10px;
}
.two-raw-ca-h-one #shoes p, #watch p, #headset p {
  font-weight: 800;
  font-size: 17px;
  margin: 0;
  text-align: center;
  color: #fff;
}
 .two-raw-ca-h-two #wears p, #shirts p, #Toycars p {
  font-weight: 800;
  font-size: 17px;
  margin: 0;
  text-align: center;
  color: #fff;
}
.two-raw-ca-h-one #shoes, #watch, #headset {
  width: 90px;
  height: 90px;
  padding: 5px;
  background: #5c5cff;
  border-radius: 7px;
  box-shadow: 0 0 20px #5c5cff;
  margin: 10px;
}
.two-raw-ca-h-two #wears, #shirts, #Toycars {
  width: 90px;
  height: 90px;
  padding: 5px;
  background: #5c5cff;
  border-radius: 7px;
  box-shadow: 0 0 20px #5c5cff;
  margin: 10px;
}

.shoe-ch-mh, .watch-ch-mh, .headset-ch-mh, .wears-ch-mh, .shirts-ch-mh, .toycars-ch-mh {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  color: #fff;
}
.info-home {
  display: none;
  width: max-content;
  padding: 5px;
  border: 1px solid black;
  box-shadow:0 0 10px lime;
  border-radius: 10px;
  background:#87ff8d;
  text-align:center;
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 15px;
  z-index: 1;
}
.error-home {
  display: none;
  margin-top: 15px;
  padding: 5px;
  width: max-content;
  border: 1px solid red;
  box-shadow:0 0 10px red;
  border-radius: 10px;
  animation: error 2.25s;
  background:#fc8383;
  text-align: center;
  font-size: 15px;
  float: right;
  margin-top: 10px;
  position: absolute;
  right: 15px;
  z-index: 1;
}

.acc-info {
  border:1px solid black;
  border-radius: 10px;
  box-shadow:0 0 20px rgba(0,0,0,.7);
  width: 50%;
  height: max-content;
  padding: 10px;
  background:#5e5eff;
  display: none;
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 10;
}
.user-info-name-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
#button-up {
  display: contents;
}

.button-upload img {
  width: 70px;
  height: 70px;
  border-radius:100%;
  border:1px solid red;
  box-shadow:0 0 20px rgba(0,0,0,.7);
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 12px;
}
.infos-home {
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  height: 55%;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  background: gray;
}
.infos-home a {
  margin-top: 5px;
  text-align: center;
  display: block;
  padding: 6px;
  text-decoration: none;
  font-weight: 5px;
  color: black;
}

.auth-login-button {
  text-align: center;
  padding: 5px;
  border: 1px solid gray;
  border-bottom-color: black;
  border-left-color: black;
  border-right-color: black;
  background: gray;
  font-size: 16px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  width: 100%;
}
/* cart css */
.login-first {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-grid;
}
.login-first button {
  width: max-content;
  height: 30px;
  padding: 5px;
  background: #fff;
  color: #3d3dff;
  border: #fff;
  border-radius: 10px;
  font-weight: 600;
}
.login-first h3 {
  color: #fff;
}
.null-cart {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart-list-home {
  width: 90%;
  margin: 20px 5% 10px 5%;
  height: 110px;
  background: #fff;
  padding: 10px;
  border: 1px solid blue;
  position: relative;
  border-radius: 10px;
  display: flex;
}
.cart-list-home img {
  width: 90px;
  height: 90px;
  left: 30px;
  display: block;
  border-radius: 10px;
}
.cart-list-home .cart-infos {
  display: inline-grid;
}
.cart-list-home .name-ca {
  color: blue;
  margin: 10px 0 0 0;
  font-size: 20px;
}
.cart-list-home .delivered-ca {
  color: #00cf00;
  margin: 0;
  font-weight: 300;
}
.cart-list-home .delivered-ca .icon-ca {
  margin-bottom: -2.5px;
}
.cart-list-home .pricess-ca {
  display: inline-flex;
}
.cart-list-home .pricess-ca .actul-ca {
  font-size: 12px;
  margin: 8px 0 0 5px;
  color: #ff6969;
}
.cart-list-home .pricess-ca .price-ca {
  font-size: 22px;
  margin: 0;
  color: #4747ff;
}
.cart-list-home .pricess-ca .price-ca span {
  color: #000000;
}
.cart-list-home .actul-ca {
  font-size: 18px;
  margin: 0;
  color: #4747ff;
}
.cart-list-home .actul-ca span {
  color: #000000;
}
.cart-list-home .desc-ca {
  color: #808080;
  font-size: 15px;
  margin: 0;
}
.cart-list-home .quantity-ca {
  margin: 0 0 5px 0;
  font-size: 10px;
}
.cart-list-home .save-ca {
  display: inline-flex;
  position: absolute;
  float: right;
  margin-top: 8px;
  right: 5%;
  width: 23px;
  height: 23px;
  color: #ff4545;
}
/*notification css */

/*home profiles css */
.basic-profile {
  position: relative;
  background: #5454ff;
  border: 1px solid black;
  border-radius: 7px;
  width: 90%;
  margin: 15px 5% 15px 5%;
  height: 200px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.basic-profile img {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid black;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 100%;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
.basic-profile p {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-top: 155px;
}
.home-profile-info {
  padding: 0 10px 0 10px;
  position: relative;
  background: #5454ff;
  border: 1px solid black;
  border-radius: 7px;
  width: 90%;
  margin: 15px 5% 15px 5%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.home-profile-info .h-p-divs {
  display: flex;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  color: #fff;
  text-align: right;
  position: relative;
}
.home-profile-info div p {
  margin: 0 0 0 5px;
}
.h-p-info {
  color: black;
  text-align: left;
}
.h-p-value {
  position: absolute;
  right: 35px;
}
.h-p-icon-cl, .h-p-icon-pr, .h-p-icon-er {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}
.h-p-value-none {
  position: absolute;
  right: 10px;
}
.h-p-cl-ex, .h-p-pr-ex, .h-p-er-ex {
  height: 0;
  width: 100%;
  padding: 5px;
  display: none;
  background: #fff;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
.h-p-cl-ex a, .h-p-pr-ex a, .h-p-er-ex a {
  text-decoration: none;
  margin-left: 8px;
  color: #5454ff;
  display: block;
  position: relative;
}
/*main bottom */
.bottom-home {
  width: 100%;
  position: fixed;
  height: 60px;
  bottom: 0;
  z-index: 10;
  display: inline-flex;
  background: #5454ff;
  align-items: center;
  justify-content: center;
}
.bottom-home .icon-bo {
  background: #fff;
  border-radius: 10px;
  width: 37px;
  height: 37px;
  padding: 8px;
  margin: 2px auto;
}
@keyframes heights {
  0%{
    height: -10px;
  }100%{
    height: 300px;
  }
}
@keyframes error {
  0%{opacity: 0;}25%{opacity: 1;}75%{opacity: 1;}100%{opacity: 0;}
}

@keyframes hide {
  0% {opacity: 1;}25% {opacity: 0;} 75% {opacity: 0;}100%{opacity:1}
}

@keyframes show {
  0%{opacity: 0}100%{opacity:1}
}

@keyframes blurFocus {
  0% {
    opacity: 1;
    background: #8a8a8a;
  }
  40% {
    opacity: 0.1;
    background: #3b3b3b;
  }
  50% {
    opacity: 0.1;
    background: #3b3b3b;
  }
  100% {
    opacity: 1;
    background: #8a8a8a;
  }
}
